<div class="row">
  <div class="col-md-12">
    <nb-card [nbSpinner]="loading">
      <nb-card-header>Modifier information adhérent</nb-card-header>
      <nb-card-body>

        <nb-alert *ngIf="errors?.length" outline="danger" role="alert">
          <p class="alert-title"><b>Erreur</b></p>
          <ul class="alert-message-list">
            <li *ngFor="let error of errors" class="alert-message">{{ error }}</li>
            showMessages
          </ul>
        </nb-alert>

        <nb-alert *ngIf="messages?.length" outline="success" role="alert">
          <p class="alert-title"><b>Hooray!</b></p>
          <ul class="alert-message-list">
            <li *ngFor="let message of messages" class="alert-message">{{ message }}</li>
          </ul>
        </nb-alert>

        <!-- cahrgement en cours -->
        <ng-container *ngIf="loading">
          Chargement...
        </ng-container>

        <!-- L'adhérent n'a pas crée de compte -->
        <ng-container *ngIf="!aRole && !loading">
          {{ adherent.nom }} {{ adherent.prenom }} n'a pas encore créé de compte

          <button status='success' type="submit" nbButton
                  (click)="demanderEnvoiNailPreInscription()">
            Envoyer un mail de préinscription
          </button>
        </ng-container>

        <!-- L'adhérent a  créé un compte -->
        <ng-container *ngIf="aRole && !loading">
          <form
            (ngSubmit)="submit(form)"
            #form="ngForm"
          >

            <div class="form-group row">
              <label for="input-role" class="label col-sm-3 col-form-label">Activer le compte : </label>
              <div class="col-sm-9">
                <nb-toggle labelPosition="right" [checked]="compteActive"
                           (change)="chargerStatutAuthentification($event)"> Compte activé
                </nb-toggle>
              </div>
            </div>

            <div class="form-group row">
              <label for="input-role" class="label col-sm-3 col-form-label">Profil de droits :</label>
              <div class="col-sm-9">
                <nb-radio-group
                  [(ngModel)]="user.role"
                  id="input-role"
                  name="role"
                  fullWidth
                >
                  <nb-radio value="ADHERENT">Adhérent</nb-radio>
                  <nb-radio value="RES_ATELIER">Responsable atelier</nb-radio>
                  <nb-radio value="CONSEIL">Conseil administration</nb-radio>
                  <nb-radio value="ADMIN">Administrateur</nb-radio>
                </nb-radio-group>
              </div>
            </div>

            <button nbButton
                    fullWidth
                    status="success"
                    [disabled]="submitted || !form.valid"
                    [class.btn-pulse]="submitted">
              Valider
            </button>

          </form>
        </ng-container>

      </nb-card-body>
    </nb-card>


  </div>
</div>
