<form>

          <div class="form-group row">
            <label for="inputLogin" class="label col-sm-3 col-form-label">Login</label>
            <div class="col-sm-9">
              <input type="text" nbInput fullWidth id="inputLogin" placeholder="nom.prenom@gmail.com">
            </div>
          </div>


        <div class="form-group row">
          <label class="col-sm-3 label">Droits</label>
          <div class="col-sm-9">
            <nb-radio-group>
              <nb-radio>Adhérent</nb-radio>
              <nb-radio>Conseil administration</nb-radio>
              <nb-radio >Administrateur</nb-radio>
            </nb-radio-group>
          </div>
        </div>


        <button type="submit" nbButton>Valider</button>
</form>

