openapi: 3.0.1
info:
  title: API utilitaires
  description: Description de l'API utilitaire
  contact:
    email: manu.chenais@gmail.com
  license:
    name: MIT License
    url: 'https://opensource.org/licenses/MIT'
  version: 1.0.0
externalDocs:
  description: Find out more about Swagger
  url: 'http://swagger.io'
servers:
  - url: 'https://api.jalle-astro.fr/resource-utilitaire/'
tags:
  - name: Agenda
    description: gestion de l'agendas
    externalDocs:
      description: Pour plus de détail
      url: 'http://plusdedétail.ht'
  - name: Documentation
    description: gestion de la documentation de l'association
    externalDocs:
      description: Pour plus de détail
      url: 'http://plusdedétail.ht'
  - name: Diffusion mail
    description: gestion de la diffusion des mails
    externalDocs:
      description: Pour plus de détail
      url: 'http://plusdedétail.ht'
  - name: Saison
    description: Gestion des saisons
    externalDocs:
      description: Pour plus de détail
      url: 'http://plusdedétail.ht'
paths:
  /agenda/evenement:
    post:
      tags:
        - Agenda
      summary: Ajouter un évenement
      operationId: addEvenement
      security:
        - oAuth:
            - ress-utilitaire-agenda-add
      requestBody:
        description: Objet adhérent
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/evenement'
        required: true
      responses:
        '201':
          description: Operation réussie
        '401':
          description: utilisateur non authentifié
        '403':
          description: Droit insufisant
        '405':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '500':
          description: Erreur serveur
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
  '/agenda/evenement/{idevenement}':
    get:
      tags:
        - Agenda
      summary: rechercher un evenement
      operationId: getEvenement
      security:
        - oAuth:
            - ress-utilitaire-agenda-read
      parameters:
        - name: idevenement
          in: path
          description: id de l'evenement
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Operation réussie
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/evenement'
        '401':
          description: utilisateur non authentifié
        '403':
          description: Droit insufisant
        '404':
          description: evenement non trouvée
        '405':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '500':
          description: Erreur serveur
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
    delete:
      tags:
        - Agenda
      summary: Supprimer un evenement
      operationId: deleteEvenement
      security:
        - oAuth:
            - ress-utilitaire-agenda-del
      parameters:
        - name: idevenement
          in: path
          description: id de l'evenement
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Operation réussie
        '401':
          description: utilisateur non authentifié
        '403':
          description: Droit insufisant
        '404':
          description: evenement non trouvé
        '405':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '500':
          description: Erreur serveur
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
    put:
      tags:
        - Agenda
      summary: Mise à jour d'une evenement
      description: Mise à jour d'un evenement
      operationId: updateEvenement
      security:
        - oAuth:
            - ress-utilitaire-agenda-write
      parameters:
        - name: idevenement
          in: path
          description: id de l'evenement
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: Objet adherent
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/evenement'
        required: true
      responses:
        '200':
          description: Operation réussie
        '401':
          description: utilisateur non authentifié
        '403':
          description: Droit insufisant
        '404':
          description: evenement non trouvée
        '405':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '500':
          description: Erreur serveur
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
  '/agenda/evenement/{idevenement}/synthese':
    get:
      tags:
        - Agenda
      summary: rechercher la synthese des participations à un évènement
      operationId: getSyntheseEvenement
      security:
        - oAuth:
            - ress-utilitaire-agenda-read
      parameters:
        - name: idevenement
          in: path
          description: id de l'evenement
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Operation réussie
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listeParticipantsEvenement'
        '401':
          description: utilisateur non authentifié
        '403':
          description: Droit insufisant
        '404':
          description: evenement non trouvée
        '405':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '500':
          description: Erreur serveur
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
  '/agenda/evenements':
    get:
      tags:
        - Agenda
      summary: rechercher la liste d'évenement
      operationId: getListeEvenements
      security:
        - oAuth:
            - ress-utilitaire-agenda-read
      responses:
        '200':
          description: Operation réussie
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listeEvenements'
        '401':
          description: utilisateur non authentifié
        '403':
          description: Droit insufisant
        '404':
          description: evenement non trouvée
        '405':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '500':
          description: Erreur serveur
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
  '/agenda/synthese':
    get:
      tags:
        - Agenda
      summary: rechercher la synthèse des participations aux évènement
      operationId: getSyntheseEvenements
      security:
        - oAuth:
            - ress-utilitaire-agenda-read
      parameters:
        - in: query
          name: datedebut
          schema:
            type: string
          description: date max de début
        - in: query
          name: datefin
          schema:
            type: string
          description: date max de fin
        - in: query
          name: retourParticipationAdh
          schema:
            type: boolean
          description: indique si il faut récupérer uniquement les manifestations avec une demande de participation   
      responses:
        '200':
          description: Operation réussie
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listeSyntheseEvenements'
        '401':
          description: utilisateur non authentifié
        '403':
          description: Droit insufisant
        '404':
          description: evenement non trouvée
        '405':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '500':
          description: Erreur serveur
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'                
  /saison/active:
    get:
      tags:
        - Saison
      summary: récupérer la saison courante
      operationId: getSaisonCourante
      security:
        - oAuth:
            - ress-utilitaire-saison-read
      responses:
        '200':
          description: Operation réussie
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/saison'
        '401':
          description: utilisateur non authentifié
        '403':
          description: Droit insufisant
        '404':
          description: saison non trouvée
        '405':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '500':
          description: Erreur serveur
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
  /saison/{idSaison}/active:
    put:
      tags:
        - Saison
      summary: Mise à jour de la saison courante
      description: Mise à jour de la saison courante
      operationId: updateSaisonCourante
      security:
        - oAuth:
            - ress-utilitaire-saison-write
      parameters:
        - name: idSaison
          in: path
          description: id de la saison
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Operation réussie
        '401':
          description: utilisateur non authentifié
        '403':
          description: Droit insufisant
        '404':
          description: saison non trouvée
        '405':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '500':
          description: Erreur serveur
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
  /saison/liste:
    get:
      tags:
        - Saison
      summary: récupérer la liste des saisons
      operationId: getListeSaison
      security:
        - oAuth:
            - ress-utilitaire-saison-read
      responses:
        '200':
          description: Operation réussie
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listeSaison'
        '401':
          description: utilisateur non authentifié
        '403':
          description: Droit insufisant
        '404':
          description: saison non trouvée
        '405':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '500':
          description: Erreur serveur
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
  /documents:
    get:
      tags:
        - Documentation
      summary: Rechercher une liste de document
      operationId: getDocuments
      security:
        - oAuth:
            - ress-utilitaire-documents-read
      parameters:
        - in: query
          name: minDateCreation
          schema:
            type: string
          description: borne min de date de création du document
        - in: query
          name: maxDateCreation
          schema:
            type: string
          description: borne min de date de création du document
      responses:
        '200':
          description: Operation réussie
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listeDocuments'
        '401':
          description: utilisateur non authentifié
        '403':
          description: Droit insufisant
        '405':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '500':
          description: Erreur serveur
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
  /documents/arboresence:
    get:
      tags:
        - Documentation
      summary: Recupérer l'arboresence complet
      operationId: getArboresence
      security:
        - oAuth:
            - ress-utilitaire-documents-read
      responses:
        '200':
          description: Operation réussie
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/arborescenceDocumentsInit'
        '401':
          description: utilisateur non authentifié
        '403':
          description: Droit insufisant
        '405':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '500':
          description: Erreur serveur
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
  /documents/dossier:
    post:
      tags:
        - Documentation
      summary: Ajouter un dossier
      operationId: addDossier
      security:
        - oAuth:
            - ress-utilitaire-dossier-add
      requestBody:
        description: Objet dossier
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/document'
        required: true
      responses:
        '201':
          description: Operation réussie
        '401':
          description: utilisateur non authentifié
        '403':
          description: Droit insufisant
        '405':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '500':
          description: Erreur serveur
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
  '/documents/dossier/{idDossier}':
    get:
      tags:
        - Documentation
      summary: Recupérer les informations d'un dossier
      operationId: getDossier
      security:
        - oAuth:
            - ress-utilitaire-dossier-read
      parameters:
        - name: idDossier
          in: path
          description: id du dossier
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Operation réussie
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/document'
        '401':
          description: utilisateur non authentifié
        '403':
          description: Droit insufisant
        '405':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '500':
          description: Erreur serveur
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
    delete:
      tags:
        - Documentation
      summary: Supprimer un dossier (avec les sous fichier associé)
      operationId: delDossier
      security:
        - oAuth:
            - ress-utilitaire-dossier-del
      parameters:
        - name: idDossier
          in: path
          description: id du dossier
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Operation réussie
        '401':
          description: utilisateur non authentifié
        '403':
          description: Droit insufisant
        '405':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '500':
          description: Erreur serveur
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
    put:
      tags:
        - Documentation
      summary: Mise à jour d'un dossier
      operationId: majDossier
      security:
        - oAuth:
            - ress-utilitaire-dossier-add
      requestBody:
        description: Objet dossier
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/document'
        required: true
      parameters:
        - name: idDossier
          in: path
          description: id du dossier
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Operation réussie
        '401':
          description: utilisateur non authentifié
        '403':
          description: Droit insufisant
        '405':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '500':
          description: Erreur serveur
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
  /documents/fichier:
    post:
      tags:
        - Documentation
      summary: Ajouter un fichier (sans le binaire)
      operationId: addFichier
      security:
        - oAuth:
            - ress-utilitaire-fichier-add
      requestBody:
        description: Objet fichier
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/document'
        required: true
      responses:
        '201':
          description: Operation réussie
        '401':
          description: utilisateur non authentifié
        '403':
          description: Droit insufisant
        '405':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '500':
          description: Erreur serveur
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
  '/documents/fichier/{idFichier}':
    post:
      tags:
        - Documentation
      summary: Ajouter fichier binaire
      operationId: addFichierBinaire
      security:
        - oAuth:
            - ress-utilitaire-fichier-add
      parameters:
        - name: idFichier
          in: path
          description: id du fichier
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                orderId:
                  type: integer
                userId:
                  type: integer
                file:
                  type: string
                  format: binary
      responses:
        '201':
          description: Operation réussie
        '401':
          description: utilisateur non authentifié
        '403':
          description: Droit insufisant
        '405':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '500':
          description: Erreur serveur
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
    get:
      tags:
        - Documentation
      summary: Recupérer les informations d'un fichier
      operationId: getFichier
      security:
        - oAuth:
            - ress-utilitaire-fichier-read
      parameters:
        - name: idFichier
          in: path
          description: id du fichier
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Operation réussie
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/document'
        '401':
          description: utilisateur non authentifié
        '403':
          description: Droit insufisant
        '405':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '500':
          description: Erreur serveur
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
    delete:
      tags:
        - Documentation
      summary: Supprimer un fichier 
      operationId: delFichier
      security:
        - oAuth:
            - ress-utilitaire-fichier-del
      parameters:
        - name: idFichier
          in: path
          description: id du fichier
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Operation réussie
        '401':
          description: utilisateur non authentifié
        '403':
          description: Droit insufisant
        '405':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '500':
          description: Erreur serveur
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
    put:
      tags:
        - Documentation
      summary: Mise à jour d'un fichier
      operationId: majFichier
      security:
        - oAuth:
            - ress-utilitaire-fichier-add
      requestBody:
        description: Objet fichier
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/document'
        required: true
      parameters:
        - name: idFichier
          in: path
          description: id du fichier
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Operation réussie
        '401':
          description: utilisateur non authentifié
        '403':
          description: Droit insufisant
        '405':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '500':
          description: Erreur serveur
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

components:
  schemas:
    ApiResponse:
      type: object
      properties:
        code:
          type: integer
          format: int32
        type:
          type: string
        message:
          type: string
    listeEvenements:
      type: array
      items:
        $ref: '#/components/schemas/evenement'
    evenement:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 1
        type:
          type: integer
          example: 1
          enum:
            - 1
            - 2
            - 3
            - 4
            - 5
            - 6
            - 7
            - 8
          description: |
            Types evenement
            * 1 : CONFERENCE               
            * 2 : MANIFESTATION            
            * 3 : OBSERVATION
            * 4 : ANIMATION
            * 5 : REUNION
            * 6 : SORTIE
            * 7 : ATELIER
            * 8 : DIVERS
        description:
          maxLength: 100
          minLength: 3
          type: string
          example: Conférence sur le soleil
        detail:
          maxLength: 500
          minLength: 3
          type: string
          example: Conférence sur le soleil présenté par Monsieur Dupont
        datedebut:
          type: string
          example: '2020-01-18T21:00:00'
          description: date de début au format iso8601
        datefin:
          type: string
          example: '2020-01-18T21:00:00'
          description: date de fin au format iso8601
        envoyerInfoAdherents:
          type: boolean
          example: true
          description: indique si le système doit envoyer un mail au adhérent à la suite de la création d'un évènement
        demanderConfirmationParticipation:
          type: boolean
          example: true
          description: indique si il faut demander une confirmation de présence à l'adhérent          
      xml:
        name: Order
    listeSyntheseEvenements:
      type: array
      items:
        $ref: '#/components/schemas/syntheseEvenement'
    syntheseEvenement:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 1
        type:
          type: integer
          example: 1
          enum:
            - 1
            - 2
            - 3
            - 4
            - 5
            - 6
            - 7
            - 8
          description: |
            Types evenement
            * 1 : CONFERENCE               
            * 2 : MANIFESTATION            
            * 3 : OBSERVATION
            * 4 : ANIMATION
            * 5 : REUNION
            * 6 : SORTIE
            * 7 : ATELIER
            * 8 : DIVERS
        description:
          maxLength: 100
          minLength: 3
          type: string
          example: Conférence sur le soleil
        detail:
          maxLength: 500
          minLength: 3
          type: string
          example: Conférence sur le soleil présenté par Monsieur Dupont
        datedebut:
          type: string
          example: '2020-01-18T21:00:00'
          description: date de début au format iso8601
        datefin:
          type: string
          example: '2020-01-18T21:00:00'
          description: date de fin au format iso8601
        envoyerInfoAdherents:
          type: boolean
          example: true
          description: indique si le système doit envoyer un mail au adhérent à la suite de la création d'un évènement
        demanderConfirmationParticipation:
          type: boolean
          example: true
          description: indique si il faut demander une confirmation de présence à l'adhérent          
        nbAdherentParticipant:
          type: integer
          example: 50
          description: indique le nombre de participant à l evenement
        nbAdherentParticipantPas:
          type: integer
          example: 50
          description: indique le nombre de participant pas à l evenement
        nbAdherentEnAttente:
          type: integer
          example: 50
          description: indique le nombre de participant en attente de retour         
    listeSaison:
      type: array
      items:
        $ref: '#/components/schemas/saison'
    saison:
      type: object
      properties:
        id:
          type: integer
          description: id de la saison
          example: 1
        libelle:
          type: string
          example: '2019/2020'
          description: libelle de la saison
        saisonActive:
          type: boolean
          description: indique si la saison est active
      xml:
        name: Order
    listeParticipantsEvenement:
      type: array
      items:
        $ref: '#/components/schemas/participantsEvenement'
    participantsEvenement:    
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 1
        civilite:
          type: string
          description: civilite de l'adhenrent
          enum:
            - Mr
            - Mme
        nom:
          maxLength: 20
          minLength: 3
          type: string
          example: Dupont
        prenom:
          maxLength: 20
          minLength: 3
          type: string
          example: Jean
        adresse1:
          maxLength: 37
          minLength: 3
          type: string
          example: 6 rue des adresse
        adresse2:
          maxLength: 37
          minLength: 3
          type: string
          example: domaine des adresse
        codePostal:
          maxLength: 5
          minLength: 5
          type: string
          example: 33127
        ville:
          maxLength: 50
          minLength: 3
          type: string
          example: Martignas
        telMaison:
          maxLength: 10
          minLength: 10
          type: string
          example: 0555555555
        telTravail:
          maxLength: 10
          minLength: 10
          type: string
          example: 0555555555
        telPortable:
          maxLength: 10
          minLength: 10
          type: string
          example: 0655555555
        email:
          maxLength: 40
          minLength: 5
          type: string
          example: test.test@gmail.com
        profession:
          maxLength: 50
          minLength: 5
          type: string
          example: Astronome
        dateNaissance:
          type: string
          example: '2020-01-18T21:00:00'
          description: date de naissance au format iso8601
        lienPhotoProfil:
          type: string
          description: lien vers la photo de profile
          example: photo.jpg
        accordMail:
          type: boolean
          description: donne son accord pour recevoiur des mails
          example: true
        publicContact:
          type: boolean
          description: donne son accord afficher ces coordonnées dans l'espace adherents
          example: false
        commentaire:
          maxLength: 100
          minLength: 2
          type: string
          example: voici un commentaire
        dateEnregistrement:
          type: string
          example: '2020-01-18T21:00:00'
          description: date de'enregistrement au format iso8601
        dateMiseAJour:
          type: string
          example: '2020-01-18T21:00:00'
          description: date de mise à jour au format iso8601
        adhesionsSaisonCourante:
          type: boolean
          description: Indique si l'adhérent est adhérent dans la saison courante
          example: true    
        statutParticipation:
          type: integer
          format: int64
          description: |
            Types de participation. Valeurs possibles :
            * 1 : PARTICIPE               
            * 2 : PARTICIPE PAS             
            * 3 : NE SAIS PAS               
          enum:
            - 1
            - 2
            - 3
          example: 1
    listeDocuments:
      type: array
      items:
        $ref: '#/components/schemas/document'
    document:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: id du document
          example: 1225668
        idDossierRattachement:
          type: integer
          format: int64
          description: id du dossier de rattachement
          example: 1225668
        idAuthority:
          type: integer
          description: |
            Types d'adhersions. Valeurs possibles :
            * 1 : ADHERENT               
            * 2 : CONSEIL ADMINISTRATON             
            * 3 : BUREAU               
            * 4 : ADMIN
          enum:
            - 1
            - 2
            - 3
            - 4
          example: 1          
        libelleCourt:
          type: string
          example: 'Etoiles'
          description: libelle du document
          maxLength: 30
          minLength: 3
        libelleLong:
          type: string
          example: 'document sur les étoiles'
          description: libelle du document
          maxLength: 50
          minLength: 3
        dateCreation:
          type: string
          description: Date de création (format ISO8601)
          example: '2020-01-18T21:00:00'
        nomFichier:
          type: string
          example: '055555884.pdf'
          description: nom du fichier
          maxLength: 50
          minLength: 3
      xml:
        name: Order
    arborescenceDocumentsInit:
      type: array
      items:
        $ref: '#/components/schemas/arborescenceDocuments'
      xml:
        name: Order
    arborescenceDocuments:
      type: object
      properties:
        parent:
          $ref: '#/components/schemas/document'
        enfants:
          type: array
          items:
            $ref: '#/components/schemas/arborescenceDocuments'
      xml:
        name: Order        
  securitySchemes:
    oAuth:
      type: oauth2
      description: 'This API uses OAuth 2 with the implicit grant flow. [More info]'
      flows:
        clientCredentials:
          tokenUrl: 'https://api.jalle-astro.fr/authorization-server/oauth/token'
          scopes:
            ress-adherent-admin: droit administration sur les ressources autorisation
        authorizationCode:
          authorizationUrl: 'https://api.jalle-astro.fr/authorization-server/oauth/authorize'
          tokenUrl: 'https://api.jalle-astro.fr/authorization-server/oauth/token'
          scopes:
            ress-adherent-admin: droit administration sur les ressources adherent
        password:
          tokenUrl: 'https://api.jalle-astro.fr/authorization-server/oauth/token'
          scopes:
            ress-adherent-admin: droit administration sur les ressources adherent
