
<div class="row">
  <div class="col-md-12">
<h1>{{ adherent.nom }} {{ adherent.prenom }}</h1>
    <nb-card>
      <nb-card-header>Ajouter une adhesion</nb-card-header>
      <nb-card-body>

        <nb-alert *ngIf="errors?.length" outline="danger" role="alert">
          <p class="alert-title"><b>Erreur</b></p>
          <ul class="alert-message-list">
            <li *ngFor="let error of errors" class="alert-message">{{ error }}</li>
            showMessages
          </ul>
        </nb-alert>

        <nb-alert *ngIf="messages?.length" outline="success" role="alert">
          <p class="alert-title"><b>Hooray!</b></p>
          <ul class="alert-message-list">
            <li *ngFor="let message of messages" class="alert-message">{{ message }}</li>
          </ul>
        </nb-alert>


        <form
          (ngSubmit)="submit(form)"
          #form="ngForm"
        >

          <div class="form-group row">
            <label for="input-typeadhesion" class="label col-sm-3 col-form-label">type adhésion</label>
            <div class="col-sm-9">
              <nb-select
                [(ngModel)]="adhesionform.idTypeAdhesion"
                #civilite="ngModel"
                id="input-typeadhesion"
                name="civilite"
                fullWidth
                placeholder="Civilité">
                <nb-option value="1">ADULTE</nb-option>
                <nb-option value="2">FAMILLE</nb-option>
                <nb-option value="3">RESPONSABLE DE FAMILLE</nb-option>
                <nb-option value="4">ENFANT</nb-option>
                <nb-option value="5">BIENFAITEUR</nb-option>
                <nb-option value="6">HONNEUR</nb-option>
                <nb-option value="7">ETUDIANT</nb-option>
                <nb-option value="8">DEMANDEUR EMPLOI</nb-option>
              </nb-select>
            </div>
          </div>

          <div class="form-group row">
            <label for="input-comptaSomme" class="label col-sm-3 col-form-label">Montant</label>
            <div class="col-sm-9">
              <input nbInput
                     [(ngModel)]="adhesionform.comptaSomme"
                     #comptaSomme="ngModel"
                     id="input-comptaSomme"
                     name="comptaSomme"
                     placeholder="20"
                     autofocus
                     fullWidth
                     [status]="comptaSomme.dirty ? (comptaSomme.invalid  ? 'danger' : 'success') : 'basic'"
                     [required]="true"
                     [attr.aria-invalid]="comptaSomme.invalid && comptaSomme.touched ? true : null">
              <ng-container *ngIf="comptaSomme.invalid && comptaSomme.touched">
                <p class="caption status-danger" *ngIf="comptaSomme.errors?.required">
                  Le montant est nécésaire
                </p>
              </ng-container>
            </div>
          </div>

          <div class="form-group row">
            <label for="input-cheque" class="label col-sm-3 col-form-label">Paiement par cheque</label>
            <nb-checkbox name="cheque" id="input-cheque" [(ngModel)]="adhesionform.cheque" [required]="false">
              Cheque
            </nb-checkbox>
          </div>

          <div class="form-group row">
            <label for="input-espece" class="label col-sm-3 col-form-label">Paiement en espece</label>
            <nb-checkbox name="espece" id="input-espece" [(ngModel)]="adhesionform.espace" [required]="false">
              Espece
            </nb-checkbox>
          </div>

          <div class="form-group row">
            <label for="input-virement" class="label col-sm-3 col-form-label">Paiement par virement</label>
            <nb-checkbox name="virement" id="input-virement" [(ngModel)]="adhesionform.virement" [required]="false">
              Virement
            </nb-checkbox>
          </div>


          <div class="form-group row">
            <label for="input-comptaBanque" class="label col-sm-3 col-form-label">Nom de la banque</label>
            <div class="col-sm-9">
              <input nbInput
                     [(ngModel)]="adhesionform.comptaBanque"
                     #comptaBanque="ngModel"
                     id="input-comptaBanque"
                     name="comptaBanque"
                     placeholder="Crédit Agricole"
                     fullWidth
                     [status]="comptaBanque.dirty ? (comptaBanque.invalid  ? 'danger' : 'success') : 'basic'"
                     [required]="false"
                     [minlength]="3"
                     [maxlength]="20"
                     [attr.aria-invalid]="comptaBanque.invalid && comptaBanque.touched ? true : null">
              <ng-container *ngIf="comptaBanque.invalid && comptaBanque.touched">
                <p class="caption status-danger" *ngIf="comptaBanque.errors?.minlength || comptaBanque.errors?.maxlength">
                  Le nom de la banque doit etre entre 3 et 20 caracteres
                </p>
              </ng-container>
            </div>
          </div>

          <div class="form-group row">
            <label for="input-email" class="label col-sm-3 col-form-label">Référence bancaire</label>
            <div class="col-sm-9">
              <input nbInput
                     [(ngModel)]="adhesionform.comptaNumCheque"
                     #comptaNumCheque="ngModel"
                     id="input-email"
                     name="comptaNumCheque"
                     placeholder="123456"
                     fullWidth
                     [status]="comptaNumCheque.dirty ? (comptaNumCheque.invalid  ? 'danger' : 'success') : 'basic'"
                     [required]="false"
                     [minlength]="2"
                     [maxlength]="40"
                     [attr.aria-invalid]="comptaNumCheque.invalid && comptaNumCheque.touched ? true : null">
              <ng-container *ngIf="comptaNumCheque.invalid && comptaNumCheque.touched">
                <p class="caption status-danger" *ngIf="comptaNumCheque.errors?.minlength || comptaNumCheque.errors?.maxlength">
                  La référence bancaire doit etre comprise entre 5 et 40 caracteres
                </p>
              </ng-container>
            </div>
          </div>




          <button nbButton
                  fullWidth
                  status="success"
                  [disabled]="submitted || !form.valid"
                  [class.btn-pulse]="submitted">
            Valider
          </button>

        </form>


      </nb-card-body>
    </nb-card>


  </div>
</div>
