
<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>Ajouter un adhérent</nb-card-header>
      <nb-card-body>
        <form
          [formGroup]="form"
          (ngSubmit)="submit()"
        >

          <div class="form-group row">
            <label for="civilite" class="label col-sm-3 col-form-label">Civilité</label>
            <div class="col-sm-9">
		    <nb-select placeholder="Civilité" [(selected)]="selectedItem"nbInput fullWidth id="civilite"  formControlName="civilite" >
		      <nb-option value="Mr">Monsieur</nb-option>
		      <nb-option value="Mme">Madame</nb-option>
		    </nb-select>
            </div>
          </div>

          <div class="form-group row">
            <label for="nom" class="label col-sm-3 col-form-label">Nom</label>
            <div class="col-sm-9">
              <input type="text" nbInput fullWidth id="nom"  formControlName="nom"  placeholder="Nom">
            </div>
          </div>

          <div class="form-group row">
            <label for="prenom" class="label col-sm-3 col-form-label">Prénom</label>
            <div class="col-sm-9">
              <input type="text" nbInput fullWidth id="prenom" formControlName="prenom" placeholder="Prénom">
            </div>
          </div>

          <div class="form-group row">
            <label for="email" class="label col-sm-3 col-form-label">Adresse mail</label>
            <div class="col-sm-9">
              <input type="mail" nbInput fullWidth id="email" formControlName="email"  placeholder="nom.prenom@fai.fr">
            </div>
          </div>

          <div class="form-group row">
            <label for="adresse1" class="label col-sm-3 col-form-label">Adresse 1</label>
            <div class="col-sm-9">
              <input type="text" nbInput fullWidth id="adresse1" formControlName="adresse1" placeholder="Adresse 1">
            </div>
          </div>

          <div class="form-group row">
            <label for="adresse2" class="label col-sm-3 col-form-label">Adresse 2</label>
            <div class="col-sm-9">
              <input type="text" nbInput fullWidth id="adresse2"  formControlName="adresse2" placeholder="Résidence des étoiles">
            </div>
          </div>

          <div class="form-group row">
            <label for="ville" class="label col-sm-3 col-form-label">Ville</label>
            <div class="col-sm-9">
              <input type="text" nbInput fullWidth id="ville" formControlName="ville" placeholder="Martignas">
            </div>
          </div>

          <div class="form-group row">
            <label for="telPortable" class="label col-sm-3 col-form-label">Téléphone Postable</label>
            <div class="col-sm-9">
              <input type="text" nbInput fullWidth id="telPortable" formControlName="telPortable" placeholder="06 81 81 81 81">
            </div>
          </div>

          <div class="form-group row">
            <label for="telMaison" class="label col-sm-3 col-form-label">Téléphone Fixe</label>
            <div class="col-sm-9">
              <input type="text" nbInput fullWidth id="telMaison" formControlName="telMaison" placeholder="06 81 81 81 81">
            </div>
          </div>

          <div class="form-group row">
            <label for="dateNaissance" class="label col-sm-3 col-form-label">Date de naissance</label>
            <div class="col-sm-9">
              <input nbInput placeholder="01/01/2011" [nbDatepicker]="formpicker" id="dateNaissance" formControlName="dateNaissance" >
              <nb-datepicker #formpicker></nb-datepicker>
            </div>
          </div>


          <div class="form-group row">
            <label for="commentaire" class="label col-sm-3 col-form-label">Commentaire</label>
            <div class="col-sm-9">
              <input type="text" nbInput fullWidth id="commentaire" formControlName="commentaire" placeholder="Un commentaire...">
            </div>
          </div>

          <button type="submit" nbButton>Valider</button>

        </form>

        <ng-template #loading>
          Loading User...
        </ng-template>

      </nb-card-body>
    </nb-card>


  </div>
