<nb-card-body [nbSpinner]='loading'>
  <nb-list>
    <nb-list-item *ngFor="let lstAdherents of listInscritsMailingListe.lstAdherents">
      <div class="col-sm-4">
        <ng-container *ngIf="lstAdherents.lienPhotoProfil != null">
          <div class="circular--landscape">
            <img src="{{url_photo_profil}}{{lstAdherents.lienPhotoProfil}}"/>
          </div>
        </ng-container>
        <ng-container *ngIf="lstAdherents.lienPhotoProfil == null">
          <div class="circular--landscape">
            <img src="assets/images/user-profile.png"/>
          </div>
        </ng-container>
        {{lstAdherents.nom}} {{lstAdherents.prenom}}
      </div>

      <div class="col-sm-4">

        <!-- si l'utilisateur à le droit de changer les participations -->
        <ng-container *ngIf="droitEdition">
            <!-- si l'adhérent a une adhésion à jour -->
            <ng-container *ngIf="lstAdherents.adhesionsSaisonCourante">
              <nb-toggle labelPosition="right" [checked]="lstAdherents.statutParticipation"
                         (change)="changerParticipeMailingList(lstAdherents.id, $event)" status="primary">
              </nb-toggle>
            </ng-container>
          <!-- si l'adhérent a une adhésion non à jour -->
          <ng-container *ngIf="!lstAdherents.adhesionsSaisonCourante">
            <nb-toggle labelPosition="right" [checked]="lstAdherents.statutParticipation" status="danger"
                       (change)="changerParticipeMailingList(lstAdherents.id, $event)">
            </nb-toggle>
          </ng-container>
        </ng-container>

        <!-- si l'utilisateur n'a pas le droit de changer les participations -->
        <ng-container *ngIf="!droitEdition">
          <nb-toggle labelPosition="right" [checked]="lstAdherents.statutParticipation"
                     disabled>
          </nb-toggle>
        </ng-container>

      </div>


    </nb-list-item>
  </nb-list>



</nb-card-body>



