<nb-layout>
  <nb-layout-column>

    <nb-card>
      <nb-card-body>
        <h1 id="title" class="title">Participation à un évènement de Jalle Astronomie</h1>
        <nb-icon icon="checkmark-circle-outline" pack="eva" status="success" ></nb-icon>
        <ng-container *ngIf="participeEvt">
          <span>Merci pour votre retour, votre participation a bien été enregistrée</span>
        </ng-container>
        <ng-container *ngIf="!participeEvt">
          <span>Merci pour votre retour, votre choix a bien été enregistré</span>
        </ng-container>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
</nb-layout>
