<nb-layout>
  <nb-layout-column>

    <nb-card>
      <nb-card-body>
        <h1 id="title" class="title">JALLE ASTRONOMIE</h1>
        <p class="sub-title">Enregistrement de votre compte : {{mail}}</p>

        <nb-alert *ngIf="showMessages.error && errors?.length && !submitted" outline="danger" role="alert">
          <p class="alert-title"><b>Erreur</b></p>
          <ul class="alert-message-list">
            <li *ngFor="let error of errors" class="alert-message">{{ error }}</li>
            showMessages
          </ul>
        </nb-alert>

        <nb-alert *ngIf="showMessages.success && messages?.length && !submitted" outline="success" role="alert">
          <p class="alert-title"><b>Hooray!</b></p>
          <ul class="alert-message-list">
            <li *ngFor="let message of messages" class="alert-message">{{ message }}</li>
          </ul>
        </nb-alert>

        <form (ngSubmit)="register()" #form="ngForm" aria-labelledby="title" >

          <div class="form-control-group">
            <label class="label" for="input-password">Votre mot de passe:</label>
            <input nbInput
                   [(ngModel)]="user.password"
                   #password="ngModel"
                   type="password"
                   id="input-password"
                   name="password"
                   placeholder="Mot de passe"
                   fullWidth
                   fieldSize="large"
                   [status]="password.dirty ? (password.invalid  ? 'danger' : 'success') : 'basic'"
                   [required]="getConfigValue('forms.validation.password.required')"
                   [minlength]="getConfigValue('forms.validation.password.minLength')"
                   [maxlength]="getConfigValue('forms.validation.password.maxLength')"
                   [attr.aria-invalid]="password.invalid && password.touched ? true : null">
            <ng-container *ngIf="password.invalid && password.touched">
              <p class="caption status-danger" *ngIf="password.errors?.required">
                Mot de passe nécésaire
              </p>
              <p class="caption status-danger" *ngIf="password.errors?.minlength || password.errors?.maxlength">
                Le mot de passe doit contenir
                entre {{ getConfigValue('forms.validation.password.minLength') }}
                et {{ getConfigValue('forms.validation.password.maxLength') }}
                caracteres
              </p>
            </ng-container>
          </div>

          <div class="form-control-group">
            <label class="label" for="input-re-password">Confirmer votre mot de passe:</label>
            <input nbInput
                   [(ngModel)]="user.confirmPassword"
                   #rePass="ngModel"
                   type="password"
                   id="input-re-password"
                   name="rePass"
                   placeholder="Mot de passe"
                   fullWidth
                   fieldSize="large"
                   [status]="rePass.dirty ? (rePass.invalid || password.value != rePass.value  ? 'danger' : 'success') : 'basic'"
                   [required]="getConfigValue('forms.validation.password.required')"
                   [attr.aria-invalid]="rePass.invalid && rePass.touched ? true : null">
            <ng-container *ngIf="rePass.invalid && rePass.touched">
              <p class="caption status-danger" *ngIf="rePass.errors?.required">
                Mot de passe de confirmation nécésaire
              </p>
              <p class="caption status-danger" *ngIf="password.value != rePass.value && !rePass.errors?.required">
                Incohérence entre les deux mots de passe
              </p>
            </ng-container>
          </div>

          <div class="form-control-group accept-group" >
            <nb-checkbox name="terms" [(ngModel)]="user.terms" [required]="true">
              Je suis d'accord avec les <a href="#" target="_blank" [routerLink]="['/cgu']"><strong>Termes & conditions</strong></a>
            </nb-checkbox>
          </div>

          <button nbButton
                  fullWidth
                  status="primary"
                  size="large"
                  [disabled]="submitted || !form.valid || password.value != rePass.value"
                  [class.btn-pulse]="submitted">
            Enregistrer
          </button>
        </form>


      </nb-card-body>
    </nb-card>
  </nb-layout-column>
</nb-layout>
