openapi: 3.0.1
info:
  title: API Adhérents
  description: Description de l'API Adhérents
  contact:
    email: manu.chenais@gmail.com
  license:
    name: MIT License
    url: 'https://opensource.org/licenses/MIT'
  version: 1.0.0
externalDocs:
  description: Find out more about Swagger
  url: 'http://swagger.io'
servers:
  - url: 'https://api.jalle-astro.fr/'
  - url: 'http://api.jalle-astro.fr/v1'
tags:
  - name: adherent
    description: gestion des adhérents
    externalDocs:
      description: Pour plus de détail
      url: 'http://plusdedétail.ht'
  - name: listing adherent
    description: listing des adhérents
    externalDocs:
      description: Pour plus de détail
      url: 'http://plusdedétail.ht'
paths:
  /adherent:
    post:
      tags:
        - adherent
      summary: Ajouter un adhérent
      operationId: ajoutAdherent
      security:
        - oAuth:
            - ress-adherent-admin
      requestBody:
        description: Besoin de l'objet adhérent pour ajouter un adhérent
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Adherent'
        required: true
      responses:
        '201':
          description: Operation réussie
        '401':
          description: utilisateur non authentifié
        '403':
          description: Droit insufisant
        '405':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '500':
          description: Erreur serveur
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
  '/adherent/{idadh}':
    get:
      tags:
        - adherent
      summary: rechercher adherent par id
      operationId: getAdherent
      security:
        - oAuth:
            - ress-adherent-read
      parameters:
        - name: idadh
          in: path
          description: id de la personne à modifier
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Operation réussie
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Adherent'
        '401':
          description: utilisateur non authentifié
        '403':
          description: Droit insufisant
        '404':
          description: username non trouvée
        '405':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '500':
          description: Erreur serveur
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
    delete:
      tags:
        - adherent
      summary: Supression de l'adherent par id
      operationId: deleteUser
      security:
        - oAuth:
            - ress-adherent-del
      parameters:
        - name: idadh
          in: path
          description: id de la personne à modifier
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Operation réussie
        '401':
          description: utilisateur non authentifié
        '403':
          description: Droit insufisant
        '404':
          description: username non trouvée
        '405':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '500':
          description: Erreur serveur
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
    put:
      tags:
        - adherent
      summary: Mise à jour de l'adherent
      description: Mise à jour de l'adherent
      operationId: updateUser
      security:
        - oAuth:
            - ress-adherent-write
      parameters:
        - name: idadh
          in: path
          description: id de la personne à modifier
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: mise à jour de la personne
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Adherent'
        required: true
      responses:
        '200':
          description: Operation réussie
        '401':
          description: utilisateur non authentifié
        '403':
          description: Droit insufisant
        '404':
          description: username non trouvée
        '405':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '500':
          description: Erreur serveur
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
  '/adherent/liste':
    get:
      tags:
        - listing adherent
      summary: Récupérer l'ensemble des adhérents
      operationId: getListeAdherents
      security:
        - oAuth:
            - ress-adherent-read
      responses:
        '200':
          description: Operation réussie
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listeAdherents'
        '401':
          description: utilisateur non authentifié
        '403':
          description: Droit insufisant
        '404':
          description: username non trouvée
        '405':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '500':
          description: Erreur serveur
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
  '/adherent/listeSaison':
    get:
      tags:
        - listing adherent
      summary: Récupérer l'ensemble des adhérents de la saison
      operationId: getListeAdherentsSaison
      security:
        - oAuth:
            - ress-adherent-read
      responses:
        '200':
          description: Operation réussie
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listeAdherents'
        '401':
          description: utilisateur non authentifié
        '403':
          description: Droit insufisant
        '404':
          description: username non trouvée
        '405':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '500':
          description: Erreur serveur
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
components:
  schemas:
    listeAdherents:
      type: array
      items:
        $ref: '#/components/schemas/Adherent'
    Adherent:
      type: object
      properties:
        id:
          type: integer
          format: int64
        civilite:
          type: string
          description: civilite de l'adhenrent
          enum:
            - Mr
            - Mme
        nom:
          maxLength: 20
          minLength: 3
          type: string
        prenom:
          maxLength: 20
          minLength: 3
          type: string
        adresse1:
          maxLength: 37
          minLength: 3
          type: string
        adresse2:
          maxLength: 37
          minLength: 3
          type: string
        codePostal:
          maxLength: 5
          minLength: 5
          type: string
        ville:
          maxLength: 50
          minLength: 3
          type: string
        telMaison:
          maxLength: 10
          minLength: 10
          type: string
        telTravail:
          maxLength: 10
          minLength: 10
          type: string
        telPortable:
          maxLength: 10
          minLength: 10
          type: string
        email:
          maxLength: 40
          minLength: 5
          type: string
        profession:
          maxLength: 50
          minLength: 5
          type: string
        dateNaissance:
          type: string
          format: date-time
        lienPhotoProfil:
          type: string
          description: lien vers la photo de profile
        accordMail:
          type: boolean
          description: donne son accord pour recevoiur des mails
        publicContact:
          type: boolean
          description: donne son accord afficher ces coordonnées dans l'espace adherents
        commentaire:
          maxLength: 100
          minLength: 2
          type: string
        dateEnregistrement:
          type: string
          format: date-time
        dateMiseAJour:
          type: string
          format: date-time
      xml:
        name: Order
    ApiResponse:
      type: object
      properties:
        code:
          type: integer
          format: int32
        type:
          type: string
        message:
          type: string
  securitySchemes:
    oAuth:
      type: oauth2
      description: 'This API uses OAuth 2 with the implicit grant flow. [More info]'
      flows:
        clientCredentials:
          tokenUrl: 'http://127.0.0.1:8081/authorization-server/oauth/token'
          scopes:
            ress-adherent-admin: droit administration sur les ressources autorisation
        authorizationCode:
          authorizationUrl: 'http://127.0.0.1:8081/authorization-server/oauth/authorize'
          tokenUrl: 'http://127.0.0.1:8081/authorization-server/oauth/token'
          scopes:
            ress-adherent-admin: droit administration sur les ressources adherent
            ress-adherent-read: droit de lecteur sur les ressoruces adherent
            ress-adherent-write: droit d'écriture sur les ressoruces adherent
            ress-adherent-del: droit de suppression sur les ressoruces adherent
        password:
          tokenUrl: 'http://127.0.0.1:8081/authorization-server/oauth/token'
          scopes:
            ress-adherent-admin: droit administration sur les ressources adherent
            ress-adherent-read: droit de lecteur sur les ressoruces adherent
            ress-adherent-write: droit d'écriture sur les ressoruces adherent
            ress-adherent-del: droit de suppression sur les adherent autorisation
