openapi: 3.0.1
info:
  title: API gestion authentification espace adherents
  description: Permet de gere les accès des personnes à l'espace adhérents
  contact:
    email: manu.chenais@gmail.com
  license:
    name: GNU General Public License v3.0
    url: https://www.gnu.org/licenses/gpl-3.0.fr.html
  version: 1.0.0
servers:
- url: https://adherents.jalle-astro.fr/resource-authorization
- url: http://localhost:8080/resource-authorization
- url: http://localhost:8083/resource-authorization
tags:
- name: Authentification
  description: Gestion des authentifications
  externalDocs:
    description: Pour plus de détail
    url: https://github.com/emmanuel33700/espace_adherents
- name: Roles
  description: Gestion des roles
  externalDocs:
    description: Pour plus de détail
    url: https://github.com/emmanuel33700/espace_adherents
paths:
  /authentification:
    put:
      tags:
      - Authentification
      summary: Mise à jour du compte accès d'une personne
      description: Mise à jour de l'authentification d'une personne
      operationId: updateAuthentification
      security: 
        - oAuth: [ress-autorization-admin, ress-autorization-write]
      requestBody:
        description: mise à jour de l'objet authentification
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Authentification'
        required: true
      responses:
        200:
          description: Operation réussie
        403:
          description: Droit insufisant 
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        405:
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
    post:
      tags:
      - Authentification
      summary: Ajouter  compte d'accès d'une personne
      operationId: addAuthentification
      requestBody:
        description: ajout de l'objet authentification
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Authentification'
        required: true
      responses:
        201:
          description: Operation réussie
        403:
          description: Droit insufisant 
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        405:
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
  /authentification/{idadh}:
    delete:
      tags:
      - Authentification
      summary: suppression du compte accès d'une personne
      operationId: deleteAuthentification
      security: 
        - oAuth: [ress-autorization-admin, ress-autorization-del]
      parameters:
      - name: idadh
        in: path
        description: id de la personne à modifier
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: Operation réussie
        404:
          description: login non trouvée
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        403:
          description: Droit insufisant 
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        405:
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
    get:
      tags:
      - Authentification
      summary: Récupérer les informations d'authentification
      description: vérifier si un login existe dans la BD
      operationId: getAuthentification
      security: 
        - oAuth: [ress-autorization-admin]
      parameters:
      - name: idadh
        in: path
        description: id de la personne à modifier
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: Operation réussie
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Authentification'
        404:
          description: login non trouvée
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        403:
          description: Droit insufisant 
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        405:
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
  /authentification/resetPassword:
    post:
      tags:
      - Authentification
      summary: demander la réinitialisation du mot de passe
      operationId: resetPassword
      requestBody:
        description: demander la réinitialisation du mot de passe
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Login'
      responses:
        200:
          description: Operation réussie
        404:
          description: login non trouvée
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        403:
          description: Droit insufisant 
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        405:
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
  /authentification/{idadh}/validerResetPassword:
    post:
      tags:
      - Authentification
      summary: demander la validation de la réinitialisation du mot de passe
      operationId: valideResetPassword
      parameters:
      - name: idadh
        in: path
        description: id de la personne à modifier
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: demander la validation de la réinitialisation du mot de passe
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReinitAuthentification'
      responses:
        200:
          description: Operation réussie
        404:
          description: login non trouvée
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        403:
          description: Droit insufisant 
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        405:
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  /authentification/{idadh}/validation:
    post:
      tags:
      - Authentification
      summary: validation d'enregistrement du login d'une personne
      operationId: validationAuthentification
      parameters:
      - name: idadh
        in: path
        description: id de la personne à modifier
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: Clée de validation reçu par mail au moment de la création du compte
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Validation'
        required: true
      responses:
        201:
          description: Operation réussie
        404:
          description: login non trouvée
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        403:
          description: Droit insufisant 
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        405:
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
  /authentification/{login}/roles:
    put:
      tags:
      - Roles
      summary: Mise à jour des roles d'une personne
      description: Mise à jour des roles d'une personne
      operationId: updateRoles
      security: 
        - oAuth: [ress-autorization-admin]
      parameters:
      - name: login
        in: path
        description: login de la personne
        required: true
        schema:
          type: string
          maxLength: 50
          minLength: 3
      requestBody:
        description: mise à jour de l'objet role
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Roles'
        required: true
      responses:
        200:
          description: Operation réussie
        404:
          description: login non trouvée
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        403:
          description: Droit insufisant 
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        405:
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
components:
  schemas:
    Login:
      type: object
      properties:
        login:
          description: Login de la personnes 
          maxLength: 50
          minLength: 3
          type: string
    Authentification:
      type: object
      properties:
        idAdh:
          description: id de la personne 
          type: integer
          format: int64
        login:
          description: Login de la personnes 
          maxLength: 50
          minLength: 3
          type: string
        password:
          description: Mot de passe de la personne
          maxLength: 15
          minLength: 5
          type: string
    ReinitAuthentification:
      type: object
      properties:
        cleeValidation:
          description: clée de validation pour réinitialiser le compte créé
          maxLength: 50
          minLength: 3
          type: string
        password:
          description: Mot de passe de la personne
          maxLength: 15
          minLength: 5
          type: string
    Roles:
      type: object
      properties:
        login:
          maxLength: 50
          minLength: 3
          type: string
        roles :
          description: Role de la personnes 
          type: array
          items:
            type: string
            enum:
            - ADHERENT
            - CONSEIL
            - BUREAU
            - ADMIN
    Validation:
      type: object
      properties:
        cleeValidation:
          description: clée de validation pour activer le compte créé
          maxLength: 50
          minLength: 3
          type: string
    ApiResponse:
      type: object
      properties:
        code:
          type: integer
          format: int32
        type:
          type: string
        message:
          type: string
  securitySchemes:
    oAuth:    
      type: oauth2
      description: This API uses OAuth 2 with the implicit grant flow. [More info]
      flows:
        clientCredentials:  
          tokenUrl: http://127.0.0.1:8081/authorization-server/oauth/token
          scopes:
            ress-autorization-admin: droit administration sur les ressources autorisation
        authorizationCode:  
          authorizationUrl: http://127.0.0.1:8081/authorization-server/oauth/authorize
          tokenUrl: http://127.0.0.1:8081/authorization-server/oauth/token
          scopes:
            ress-autorization-admin: droit administration sur les ressources autorisation
            ress-autorization-read : droit de lecteur sur les ressoruces autorisation
            ress-autorization-write : droit d'écriture sur les ressoruces autorisation
            ress-autorization-del : droit de suppression sur les ressoruces autorisation
        password:
          tokenUrl: http://127.0.0.1:8081/authorization-server/oauth/token
          scopes:
            ress-autorization-admin: droit administration sur les ressources autorisation
            ress-autorization-read : droit de lecteur sur les ressoruces autorisation
            ress-autorization-write : droit d'écriture sur les ressoruces autorisation
            ress-autorization-del : droit de suppression sur les ressoruces autorisation