<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <appender name="STDOUT"
              class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%-4relative [%thread] %-5level %class - %msg%n</pattern>
        </layout>
    </appender>
     
    <!--Basic file appender<appender name="FILE"
    class="ch.qos.logback.core.FileAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
    <pattern>%-4relative [%thread] %-5level %class - %msg%n</pattern>
    </layout>
    <File>sample-log.txt</File>
    </appender>-->
     
    <!--Daily rolling file appender -->
    <appender name = "FILE" class = "ch.qos.logback.core.FileAppender">
      <File>/home/emmanuel/programmation/jalle_astro/lib-mail.log</File>
      <encoder>
         <pattern>[%d{yyyy-MM-dd'T'HH:mm:ss.sss'Z'}] [%C] [%t] [%L] [%-5p] %m%n</pattern>
      </encoder>
   </appender>   

     
    <logger name="org.springframework.jdbc.core.JdbcTemplate">
        <level value="TRACE" />
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </logger>

    <logger name="org.springframework.jdbc.core.StatementCreatorUtils">
        <level value="TRACE" />
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </logger>
     

    <root>
        <level value="DEBUG" />
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>
</configuration>
