<nb-layout>
  <nb-layout-column>

    <nb-card>
      <nb-card-body>
        <h1 id="title" class="title">JALLE ASTRONOMIE</h1>

        <nb-alert *ngIf="errors?.length" outline="danger" role="alert">
          <p class="alert-title"><b>Erreur</b></p>
          <ul class="alert-message-list">
            <li *ngFor="let error of errors" class="alert-message">{{ error }}</li>
            showMessages
          </ul>
        </nb-alert>

        <nb-alert *ngIf="messages?.length" outline="success" role="alert">
          <p class="alert-title"><b>Hooray!</b></p>
          <ul class="alert-message-list">
            <li *ngFor="let message of messages" class="alert-message">{{ message }}</li>
          </ul>
        </nb-alert>
      </nb-card-body>

      <button nbButton status="warning"  (click)="goLogin()">Aller à la page de connexion</button>
    </nb-card>
  </nb-layout-column>
</nb-layout>
