<div class="lists row">

  <div class="col-md-auto col-lg-12 col-xxxl-12">

    <nb-card>
      <nb-card-body>
        <nb-actions size="medium" fullWidth>
          <nb-action>
            <nb-icon class="action-icon" icon="search-outline"></nb-icon>
            <input nbInput (change)="rechercherAdherent($event)" type="search" id="search" class="search-input"
                   placeholder="Rechercher adhérent">
          </nb-action>
          <nb-action>
            <nb-toggle labelPosition="end" (change)="changeListe($event)" [checked]="true">Afficher les adhérents de la
              saison
            </nb-toggle>
          </nb-action>
          <nb-action routerLink="../ajouteradherent">
            <nb-icon class="action-icon" icon="file-add"></nb-icon>
            <span>Ajouter un adhérent</span>
          </nb-action>
          <nb-action>
              <nb-icon icon="download-outline" pack="eva" (click)="recupererCSV()"></nb-icon>
            <span>Exporter la liste</span>
          </nb-action>


        </nb-actions>

      </nb-card-body>
    </nb-card>


  </div>


  <div class="col-md-auto col-lg-12 col-xxxl-12">
    <nb-card class="list-card" size="giant">
      <nb-card-header>Adhérents</nb-card-header>


      <nb-list>
        <nb-list-item *ngFor="let adherent of adherents">


          <!-- l'adherent à une  photo de profil -->
          <ng-container *ngIf="adherent.lienPhotoProfil != null">
            <nb-user picture="{{url_photo_profil}}{{adherent.lienPhotoProfil}}"
                     [name]="adherent.nom + ' ' +adherent.prenom"
                     [title]="adherent.email" (click)="sectionAdherents(adherent.id)">
            </nb-user>
          </ng-container>
          <!-- l'adherent n'a pas de   photo de profil -->
          <ng-container *ngIf="adherent.lienPhotoProfil == null">
            <nb-user [name]="adherent.nom + ' ' +adherent.prenom"
                     [title]="adherent.email" (click)="sectionAdherents(adherent.id)">
            </nb-user>
          </ng-container>

          <!-- gestion du bouton ajout adhésion saison -->
          <ng-container *ngIf="!adherent.adhesionsSaisonCourante">
            <div style="display:flex; justify-content:flex-end; width:100%; padding:0;">
              <button (click)="ajouterAdhesion(adherent.id)" size="small" nbButton>Ajouter adhésion</button>
            </div>
          </ng-container>
        </nb-list-item>
      </nb-list>
    </nb-card>
  </div>
</div>
