<div class="lists row">

  <div class="col-md-12 col-lg-12 col-xxxl-6">

    <nb-card>
      <nb-card-body>
        <nb-actions size="medium" fullWidth>
          <nb-action>
            <nb-toggle labelPosition="end">Afficher les adhérents de la saision</nb-toggle>
          </nb-action>
          <nb-action routerLink="../ajouter">
            <nb-icon class="action-icon" icon="file-add"></nb-icon>
            <span>Ajouter un adhérents</span>
          </nb-action>
        </nb-actions>

      </nb-card-body>
    </nb-card>


  </div>



<div class="col-md-auto col-lg-12 col-xxxl-12">
    <nb-card class="list-card" size="giant">
      <nb-card-header>Adhérents de la saison</nb-card-header>
      <nb-list>
        <nb-list-item *ngFor="let user of users">

            <nb-user [picture]="user.picture"  [name]="user.name" [title]="user.title"  (click)="afficherAlert(user.name)" routerLink="../tabs" >
            </nb-user>

        </nb-list-item>
      </nb-list>
    </nb-card>
  </div>
</div>
