
<div class="row">
  <div class="col-md-6">
    <nb-card>
      <nb-card-header>Ajouter un adhérents</nb-card-header>
      <nb-card-body>
        <form>

          <div class="form-group row">
            <label class="col-sm-3 label">Saision</label>
            <div class="col-sm-9">
              <nb-radio-group>
                <nb-radio>2019/2020</nb-radio>
                <nb-radio>2020/2021</nb-radio>
                <nb-radio >2021/2022</nb-radio>
              </nb-radio-group>
            </div>
          </div>

          <button type="submit" nbButton>Valider</button>

        </form>
      </nb-card-body>
    </nb-card>


  </div>
