
<div class="row">
  <div class="col-md-6">
    <nb-card>
      <nb-card-header>Les saisons</nb-card-header>
      <nb-card-body>

        <form
          (ngSubmit)="submit(form)"
          #form="ngForm"
        >

          <div class="form-group row">
            <label class="col-sm-3 label">Saision</label>
            <div class="col-sm-9">
              <nb-radio-group name="changementSaison" [(ngModel)]="selectedOption">
                <nb-radio *ngFor="let saison of saisons" [value]="saison.id" [checked]="saison.saisonActive"  >{{ saison.libelle }}</nb-radio>
              </nb-radio-group>
            </div>
          </div>

          <button nbButton
                  fullWidth
                  status="success"
                  [class.btn-pulse]="submitted">
            Valider
          </button>
        </form>
      </nb-card-body>
    </nb-card>


  </div>
